<div class="header-wrapper">
  <div class="logo">
    <h1>iBand-Aid</h1>
  </div>
  <ul class="navigation">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="profiles">Profiles</a></li>
    <li><a routerLink="search">Search</a></li>
    <li *ngIf="!currentUser"><a routerLink="login">Login</a> or <a routerLink="signup">Sign up!</a></li>
    <li *ngIf="userFirebaseProfile"><a routerLink="user-profile/{{currentUser.uid}}">{{userFirebaseProfile.name}}</a></li>
    <li *ngIf="currentUser"><a routerLink="logout" (click)="logout()">Logout</a></li>
  </ul>
</div>
