.profile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  h2 {
    margin-top: 50px;
    color: #BA5624;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    color: #617073;
  }
}
