<div class="row">
  <div class="col-md-8">
    <div class="artist-profile" *ngIf="artistDetails">
      <h2>{{artistDetails.name}}</h2>
      <p>{{artistDetails.profile}}</p>
    </div>
    <div class="album-list">
      <div class="col-md-4 mb-4" *ngFor="let album of albumsToDisplay">
        <div (click)="goToAlbumDetails(album)">
          <div class="card-img-top image-wrapper">
            <img src="{{album.thumb}}" alt="This is an album cover image for {{album.title}}">
          </div>
          <span class="card-text">{{album.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="tour-albums">
      <div class="artist-tour">
        <app-tour [childArtistName]="artistDetails.name"></app-tour>
      </div>
    </div>
  </div>
</div>
