// .tour-albums {
//   display: flex;
//   justify-content: center;
//   flex-direction: row-reverse;
// }
//
// .album-list {
//   width: 800px;
// }
.album-list {
  .square {
    width: 100%;
    height: 150px;
  }
  img {
    max-width: 100%;
    // object-fit: fill;
  }
}
.card {
  margin-bottom: 20px;
}
