.artist-profile {
  font-family: 'Roboto Condensed', sans-serif;
  color: #BA5624;
  p {
    color: #617073;
  }
}
.album-list {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Condensed', sans-serif;
  color: #617073;
  .image-wrapper{
    width: 100%;
  	padding-bottom: 100%;
  	position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    	top: 0; bottom: 0; left: 0; right: 0;
    }
    .card-text {
      width: 100%;
    }
  }
}
