<div class="row">
  <div class="col-md-8">
    <div class="artist-profile" *ngIf="artistDetails">
      <h2>{{artistDetails.name}}</h2>
      <p>{{artistDetails.profile}}</p>
    </div>
    <div class="album-list row">
      <div class="col-md-4 mb-4" *ngFor="let album of albumsToDisplay">
        <div class="card" (click)="goToAlbumDetails(album)">
          <img class="card-img-top" src="{{album.thumb}}" alt="">
          <p class="card-text">{{album.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="tour-albums">
      <div class="artist-tour">
        <app-tour [childArtistName]="artistDetails.name"></app-tour>
      </div>
    </div>
  </div>
</div>
