.album-detail {
  font-family: 'Roboto Condensed', sans-serif;
  color: #BA5624;
  h4 {
    color: #617073;
  }
  button {
    background: none;
    border: 3px solid #617073;
    color: #BA5624;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
