<div class="signup-container">
  <div class="signup-form">
    <form (keyup.enter)="signup(
      email.value,
      password.value,
      name.value);
      email.value = '';
      password.value = '';
      name.value = '';">
      <h2>Sign up</h2>
      Email: <input type="text" #email>
      Password: <input type="password" #password>
      Name: <input type="text" #name>
    </form>
    <button type="button" (click)="signup(
      email.value,
      password.value,
      name.value);
      email.value = '';
      password.value = '';
      name.value = '';">Sign up</button>
  </div>
</div>
<div>
  {{displayError}}
</div>
