.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;

  h1 {
    font-family: 'Megrim', cursive;
    font-size: 10vh;
    margin-bottom: 40px;
    color: #BA5624;
    font-weight: bolder;
  }
  p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #617073;
  }
  a {
    color: #BA5624;
  }
}
