.profile-container {
  font-family: 'Roboto Condensed', sans-serif;
  h1 {
    color: #BA5624;
  }
  p {
    color: #617073;
  }
  input {
    border: 3px solid #617073;
    background: none;
    color: #617073;
  }
  button {
    background: none;
    border: 3px solid #617073;
    color: #BA5624;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 60px;
  }
}

.profile-name {
  font-size: 7em;
  color: #6f6f6f;
  margin-bottom: 40px;
}

.edit-form {
  display: flex;
  align-items: baseline;
  margin-right: 18px;
}

.edit-input-field {
  margin-right: 30px;
}

.collection {
  margin-bottom: 40px;
  p {
    color: red;
  }
}

.wishlist {
  p {
    color: blue;
  }
  p:nth-child(2) {
    color: red;
  }
}

.edit-div {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
}
