<div *ngIf="profileToDisplay">
  <h1>{{profileToDisplay.name}}</h1>
  <div *ngIf="toggle">
    <div class="edit-form">
      <div class="form-group">
        <input placeholder="name" [(ngModel)]="profileToDisplay.name">
      </div>
      <button class="btn btn-primary"  (click)="updateSubmit(profileToDisplay);">Edit Profile Name</button>
    </div>
  </div>
  <div class="container">
    <h1>Collection</h1>
    <div class="row">
      <div class="col-md-2" *ngFor="let albumInCollection of albumsInCollection">
        <div class="card">
          <img class="card-img-top" src="{{albumInCollection.image}}" (click)="goToAlbumDetails(albumInCollection)">

          <div class="card-body" *ngIf="toggle">
            <button class="btn btn-outline-secondary btn-block" (click)="deleteAlbumInCollection(profileToDisplay.$key, albumInCollection.$key)">-</button>
          </div>
        </div>
      </div>
    </div>
    <h1>Wishlist</h1>
    <div class="row">
      <div class="col-md-2" *ngFor="let albumInWishlist of albumsInWishlist">
        <div class="card">
          <img class="card-img-top" src="{{albumInWishlist.image}}" (click)="goToAlbumDetails(albumInWishlist)">
          <div class="card-body" *ngIf="toggle">
            <button class="btn btn-outline-primary" (click)="moveToCollection(
            profileToDisplay.$key,
            albumInWishlist)">+</button>
            <button class="btn btn-outline-secondary" (click)="deleteAlbumInWishlist(
            profileToDisplay.$key,
            albumInWishlist.$key
            )">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
