.profile-name {
  font-size: 7em;
  color: #6f6f6f;
  margin-bottom: 40px;
}

.edit-form {
  display: flex;
  align-items: baseline;
  margin-right: 18px;
}

.edit-input-field {
  margin-right: 30px;
}

.collection {
  margin-bottom: 40px;
  p {
    color: red;
  }
}

.wishlist {
  p {
    color: blue;
  }
  p:nth-child(2) {
    color: red;
  }
}

.edit-div {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
}

// .card-img-top {
//   transition: box-shadow .4s ease-in-out;
//   &:hover {
//     box-shadow: 0 0 10px #000;
//   }
// }
